head{
    margin-left:90px ;
}

body {
    font-family: "Pill Gothic 600mg Semibd", sans-serif;
    font-size: 40px;
}

.imglg1{
    position: absolute;
    top: 10px;
    right: 25px;
    width: 150px;
    height: 150px;
}

.main-head{
    height: 150px;
}

.sidenav {
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:  url('../imagenes/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imglg{
    position: absolute;
    top: 10px;
    right: 48%;
    width: 150px;
    height: 150px;
}
.main {
    padding: 0px 10px;
    color: #005B28;
}

@media screen and (max-height: 400px) {
    .sidenav {padding-top: 15px;}
    
}

@media screen and (max-width: 400px) {
    .login-form{
        margin-top: 20%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        position: absolute;
        vertical-align:middle ;
        margin-right: -60%;
        margin-left: 30%;
    }

    .register-form{
        margin-top: 50%;
    }
}


.main{
    margin-top: 5%;
    padding: 25px;
    color:#005B28;
}

.main h1{
    font-weight: 300;
    text-align:center;
}

.main p{  font-weight: 100;
    text-align:center;}

.btn-black{
    background-color:#005B28!important;
    color: #fff !important;
    width: 200px;
    height: 45px;
}
